{% extends 'forms/../base_form.html' %}


{% block content %}
    <div class="row">
        <div class="column-narrow">
            <h3>The Beatles - With a Little Help from my Friends</h3>
            <p>
            What would you think if I sang out of tune?
            Would you stand up and walk out on me?
            Lend me your ears and I'll sing you a song
            And I'll try not to sing out of key
            Oh, I get by with a little help from my friends
            Mm, I get high with a little help from my friends
            Mm, gonna try with a little help from my friends
            </p>
            <p>
            What do I do when my love is away?
            Does it worry you to be alone?
            How do I feel by the end of the day?
            Are you sad because you're on your own?
            No, I get by with a little help from my friends
            Mm, get high with a little help from my friends
            Mm, gonna try with a little help from my friends
            </p>
            <p>
            Do you need anybody?
            I need somebody to love
            Could it be anybody?
            I want somebody to love
            </p>
            <p>
            Would you believe in a love at first sight?
            Yes, I'm certain that it happens all the time
            What do you see when you turn out the light?
            I can't tell you, but I know it's mine
            Oh, I get by with a little help from my friends
            Mm, get high with a little help from my friends
            Oh, I'm gonna try with a little help from my friends
            </p>
            <p>
            Do you need anybody?
            I just need someone to love
            Could it be anybody?
            I want somebody to love
            </p>
            <p>
            Oh, I get by with a little help from my friends
            Mm, gonna try with a little help from my friends
            Oh, I get high with a little help from my friends
            Yes, I get by with a little help from my friends
            With a little help from my friends
            </p>
        </div>
        <div class="column-wide">
            <div class="row">
                <div class="column"><h3>notifications go here</h3></div>
                <div class="column"><br>
                    <form method="get">
                    <button type="submit" name="clear_notifications">CLEAR NOTIFICATIONS</button>
                    </form>
                </div>
                </div>
            <div id="notification_list">
            {% for n in notification_list %}
                <hr class="notif-div">
                {{ n }}
            {% endfor %}
            {%  if not notification_list %}
                <p class="greyed">Look Ma, no notifications!</p>
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
