{% extends 'forms/../base_form.html' %}


{% block content %}
    <div class="row">
        <div class="column-narrow">
            <h3>The notification screen</h3>
            <p>
            This is the notification screen. Wow, look at all these notifications!
            Those are some nice notifications. I certainly feel notified, I don't know about you.
            </p>
            <p>
            A wise person once said: "There's only so much Lorum one guy can Ipsum".
            </p>
           
        </div>
        <div class="column-wide">
            <div class="row">
                <div class="column"><h3>notifications go here</h3></div>
                <div class="column"><br>
                    <form method="get">
                    <button type="submit" name="clear_notifications">CLEAR NOTIFICATIONS</button>
                    </form>
                </div>
                </div>
            <div id="notification_list">
            {% for n in notification_list %}
                <hr class="notif-div">
                {{ n }}
            {% endfor %}
            {%  if not notification_list %}
                <p class="greyed">Look Ma, no notifications!</p>
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
