{% extends 'base.html' %}

{% block content %}
    
    <div class="row">
        <div class="column-narrow">
            <h3>About</h3>
        </div>
        
        <div class="column">
            <h3>Payment log</h3>            
        {% if not request_list %}
            <div class="greyed">Look Ma, no payments!</div>
        {% endif %}
        {% for request in request_list %}
            <div class="payment-log">
                <hr class="greyed">
                <p>Sent to William Gowland [will]</p>
                <p>amount: 100 GBP</p>
                <p>date-time: </p>
            </div>
        {% endfor %}
        </div>

    
        <div class="column-narrow">
            <h3>See more</h3>
            <ul>
                <li><a href="/payapp/my_account">View my account</a></li>
                <li><a href="/payapp/my_requests">View my requests</a></li>
            </ul>
        </div>
    </div>
    
{% endblock %}