{% extends 'base.html' %}

{% block content %}
    
    <div class="row">
        <div class="column-narrow">
            <h3>About</h3>
            <p>I have run out of Lorum Ipsum jokes.</p>
        </div>
        
        <div class="column">
            <h3>Payment log</h3>            
        {% if not payment_list %}
            <div class="greyed">Look Ma, no payments!</div>
        {% endif %}
        {% for p in payment_list %}
            <div class="payment-log">
                <hr class="greyed">
                <p>{% if p.sent %}TO ->{% else %}FROM <-{% endif %} {{ p.other }}</p>
                <p>
                    amount: {{ p.value }} 
                {% if p.other_currency %}
                    <span class="greyed">
                        {% if p.sent %}recieved in {% else %}sent in {% endif %}
                        {{ p.other_currency }}
                    </span>
                {% endif %}
                </p>
                <p>date-time: {{ p.datetime }}</p>
            </div>
        {% endfor %}
        </div>

    
        <div class="column-narrow">
            <h3>See more</h3>
            <ul>
                <li><a href="/payapp/my_account">View my account</a></li>
                <li><a href="/payapp/my_requests">View my requests</a></li>
            </ul>
        </div>
    </div>
    
{% endblock %}