{% extends 'base.html' %}

{% block content %}
    
    <div class="row">
        <div class="column-narrow">
            <h3>About</h3>
        </div>
        
        <div class="column">
            <h3>Request log</h3>        
        {% if not request_list %}
            <div class="greyed">Look Ma, no requests!</div>
        {% endif %}
        {% for r in request_list %}
            <div class="request-log">
                <hr class="greyed">
                <p>You requested from William Gowland [will]</p>
                <p>amount: 100 GBP</p>
                <p>date-time:</p>
                <p>status: <em class="greyed">pending</em></p>
            </div>
        {% endfor %}
        </div>


        <div class="column-narrow">
            <h3>See more</h3>
            <ul>
                <li><a href="/payapp/my_account">View my account</a></li>
                <li><a href="/payapp/my_payments">View my payments</a></li>
            </ul>
        </div>
    </div>
    
{% endblock %}