{% extends 'base.html' %}

{% block content %}
    
    <div class="row">
        <div class="column-narrow">
            <h3>About</h3>
            "For when you Lorum long into the Ipsum, the Ipsum Lorums also back into you"
        </div>
        
        <div class="column">
            <h3>Request log</h3>        
        {% if not request_list %}
            <div class="greyed">Look Ma, no requests!</div>
        {% endif %}
        {% for r in request_list %}
            <div class="request-log">
                <hr class="greyed">
                <p>{% if r.sent %}SENT TO{% else %}REQUEST FROM{% endif %} - {{ r.other }}</p>
                <p>amount: {{ r.amount }}</p>
                <p>date-time: {{ r.datetime }}</p>
                <p>status:
            {% if r.status == 'PEN' %} <span class="greyed">pending</span>
            {% elif r.status == 'ACC' %} <span class="green-success">accepted</span>
            {% elif r.status == 'REJ' %} <span class="red-error">rejected</span>
            {% endif %}
                </p>
            {% if r.status == 'PEN' and not r.sent %}
                <p><a class="green-success" href="?acc_req={{ r.id }}">ACCEPT</a> or <a class="red-error" href="?rej_req={{ r.id }}">REJECT</a> this request</p>
            {% endif %}
            {% if r.status == 'PEN' and r.other_currency %}
                <p class="greyed">NOTE: This is a {{ r.other_currency }} account, currency conversion is automatic</p>
            {% endif %}
                
            </div>
        {% endfor %}
        </div>


        <div class="column-narrow">
            <h3>See more</h3>
            <ul>
                <li><a href="/payapp/my_account">View my account</a></li>
                <li><a href="/payapp/my_payments">View my payments</a></li>
            </ul>
        </div>
    </div>
    
{% endblock %}