{% extends 'base.html' %}

{% block content %}
    
    <div class="row">
        <div class="column-narrow">
            <h3>About</h3>
        </div>
        
        <div class="column">
            <h3>Request log</h3>        
        {% if not request_list %}
            <div class="greyed">Look Ma, no requests!</div>
        {% endif %}
        {% for r in request_list %}
            <div class="request-log">
                <hr class="greyed">
                <p>{% if r.0 %}SENT TO{% else %}REQUEST FROM{% endif %} - {{ r.1 }}</p>
                <p>amount: {{ r.2 }}</p>
                <p>date-time: {{ r.3 }}</p>
                <p>status:
            {% if r.4 == 'PEN' %} <span class="greyed">pending</span>
            {% elif r.4 == 'ACC' %} <span class="green-success">accepted</span>
            {% elif r.4 == 'REJ' %} <span class="red-error">rejected</span>
            {% endif %}
                </p>
            {% if r.4 == 'PEN' and not r.0%}
                <p><a class="green-success" href="?acc_req={{ r.5 }}">ACCEPT</a> or <a class="red-error" href="?rej_req={{ r.5 }}">REJECT</a> this request</p>
            {% endif %}
                
            </div>
        {% endfor %}
        </div>


        <div class="column-narrow">
            <h3>See more</h3>
            <ul>
                <li><a href="/payapp/my_account">View my account</a></li>
                <li><a href="/payapp/my_payments">View my payments</a></li>
            </ul>
        </div>
    </div>
    
{% endblock %}