body {
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: black;
    color: ghostwhite;
}

h1 {
    color: gold;
    margin: 25px;
}

aside {
    clear: right;
    float: right;
    width: 20%;
}

footer {
    clear: both;
    justify-self: center;
}

section {
    display: flex;
}

#sidebar {
    height: auto;
    flex-grow: 1;
}

#sidebar {
    height: auto;
    flex-grow: 1;
}

#content {
    height: auto;
    flex-grow: 6;
}

#error
{
    color: tomato;
}

form {
    div {
        width: 30%;
        margin: 10px;
        input {
            float: right;
            .submit {
                align-self: center;
            }
        }
    }
}

input {
    border: 2px solid ghostwhite;
    margin: 2px;
    padding: 5px 4px 2px 4px;
    color: ghostwhite;
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: black;
}