body {
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: black;
    color: ghostwhite;
    margin: 0;
    height: 100vh;
}

h1 {
    color: gold;
}

nav {
    margin: 10px;
}

header {
    background-color: dimgrey;
    margin: 0;
    padding: 10px;
    border-bottom: #555555;
    border-bottom-width: 2px;
}

footer {
    clear: both;
    justify-self: center;
}

.sidebar {
    padding: 8px;
    height: auto;
    width: 15%;
    background-color: #1b1b1b;
}

#content {
    margin: 8px;
}

#error
{
    color: tomato;
}

#success
{
    color: lawngreen;
}

form {
    div {
        width: 30%;
        margin: 10px;
        input {
            float: right;
            .submit {
                align-self: center;
            }
        }
    }
}

input, button{
    border: 2px solid ghostwhite;
    margin: 2px;
    padding: 5px 4px 2px 4px;
    color: ghostwhite;
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: black;
}

button:hover, input:hover {
    background-color: ghostwhite;
    color: black;
}

a {
    color: #4ac1f7;
}

a:hover {
    color: black;
    background-color: #4ac1f7;
    text-decoration: none;
}