body {
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: black;
    color: ghostwhite;
}

h1 {
    color: gold;
}

.navigation {
    a{
        color: black;
        text-decoration: none;
    }
    li {
        width: 100px;
        margin: 5px;
        padding: 3px;
        background-color: gold;
        color: black;
    }
}

#error
{
    color: tomato;
}

form {
    div {
        width: 30%;
        margin: 10px;
        input {
            float: right;
            .submit {
                align-self: center;
            }
        }
    }
}

input {
    border: 2px solid ghostwhite;
    margin: 2px;
    padding: 5px 4px 2px 4px;
    color: ghostwhite;
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: black;
}