{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ page_title|title }}</title>
    <link rel="stylesheet" href="{% static 'mystyle.css' %}">
</head>

<body>

<nav>
    {% if logged_in %}
        You're logged in
        -- <a href="/payapp/make_payment">Make a Payment</a>
        -- <a href="/payapp/request_payment">Request a Payment</a>
        -- <a href="/payapp/logout">Log out</a>
    {% else %}
        You're not logged in:
        -- <a href="/payapp/login">Login</a>
        -- <a href="/register">Register</a>
    {% endif %}
</nav>

<header>
    <h1>W:\PayApp24\{{ page_title|title }}>_</h1>
</header>

<section>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

    <div class="sidebar">Testing</div>
</section>

</body>
</html>