{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page_title|title }}</title>
    <link rel="stylesheet" href="{% static 'mystyle.css' %}">
{#    <style>#}
{#        body {#}
{#            font-family: "Lucida Console", "Courier New", monospace;#}
{#            background-color: black;#}
{#            color: ghostwhite;#}
{#        }#}
{#    </style>#}

</head>
<body>
    <h1>W:\PayApp24\{{ page_title|title }}>_</h1>
    {% block content %}
    {% endblock %}
    {% include 'navigation.html' %}

</body>
</html>