{% extends 'base.html' %}
{% load static %}

{% block extra_links %}
    <link rel="stylesheet" href="{% static 'mystyle-collumns.css' %}">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="column-narrow">
            {% block form_description %}{% endblock %}
        </div>
        <div class="column-wide">
            <h3>Fill details below:</h3>
            <form method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Submit">
            </form>
            {% if success %}
                <p id="success">
                    {{ success }}
                </p>
            {% endif %}

            {% if errors %}
                <ul id="error">
                    {% for e in errors %}
                        <li>{{ e }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}