{% extends 'base.html' %}

{% block content %}
    {% if description %}
        <p>{{ description }}</p>
    {% endif %}
    <p><b>Please enter details below!</b></p>
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
    </form>
    
    {% if success %}
        <p id="success">
            {{ success }}
        </p>
    {% endif %}
    
    {% if errors %}
        <ul id="error">
            {% for e in errors %}
                <li>{{ e }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}