{% extends 'base.html' %}

{% block content %}
    <h2>Hello, welcome to My-Payment-App!</h2>
    <p>
        Pokem ipsum dolor sit amet Magby Remoraid Cacturne Elekid Kabuto Remoraid. Hive Badge Noctowl to catch them is my real test Nidoqueen Normal Jellicent Krabby. Flamethrower Scratch Hariyama Gold Breloom Pignite Anorith. Harden sunt in culpa qui officia Elekid Trapinch Pokemon Qwilfish Ivysaur. S.S. Anne Yamask Tynamo Flareon Bronzor Noctowl Deino.

        Viridian City Joltik Weezing Pidgeotto Pelipper Voltorb Chinchou. Thunder Badge Plain Badge Spinarak Accelgor Litwick Smeargle Magmar. Storm Badge Seaking Flareon I'm on the road to Viridian City Zekrom Dragonair Pikachu. Rock S.S. Anne Pansear Murkrow Camerupt ut aliquip Ferrothorn. Tail Whip Porygon Wartortle gotta catch 'em all Celebi Minccino Elite Four.

        Kanto Vanilluxe Charmeleon Glalie Rotom Hippowdon Poliwag. Harden Volbeat Swoobat Bug fishing rod Bronzor Cleffa. Celadon Department Store Johto Empoleon Tepig Sewaddle Zweilous Karrablast. Hive Badge Basculin Girafarig Ariados Luxray Silcoon Delibird. Hydro Pump Kecleon Miltank Zekrom Combee Rufflet Sandile.

        Velit esse cillum dolore eu fugiat nulla pariatur Rotom Skitty Whiscash Combee Dragonite Cyndaquil. We're blasting off again Swoobat Uxie Regice Uxie Kakuna Staryu. Scratch Masquerain Staraptor Bagon Town Map Abra Darmanitan. Pokemon The Movie 2000 Rhyhorn Beheeyem Nosepass Mightyena Golbat MysteryBerry. Poison Walrein Ursaring Skorupi Bouffalant to denounce the evils of truth and love Carracosta.

        V for victory Wailmer to denounce the evils of truth and love Aron Teleport Seismitoad make it double. Electric Floatzel Volcarona Petilil Vibrava Geodude Calcium. Johto Blaziken Sewaddle Celadon Department Store Marsh Badge Dragon Trapinch. Ivysaur Charizard Swinub lorem ipsum dolor sit amet Kangaskhan Swablu Chimecho. Rage Swalot The Power Of One Vibrava Joltik Brock Pokemon 4Ever.
    </p>
    
{% endblock %}