{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="column">
            <h3>ABOUT</h3>
            Hello, World!
        </div>
        <div class="column-wide">
            <h3>Account data</h3>
            <table>
                <tr id="your_balance">
                    <td><b>Your Balance</b></td>
                    <td>:</td>
                    <td>{{ account_data.balance }}</td>
                </tr>
                <tr id="payments_made">
                    <td><b>Payments Made</b></td>
                    <td>:</td>
                    <td> {{ account_data.payments_made }} </td>
                </tr>
                <tr id="payments_received">
                    <td><b>Payments Received</b></td>
                    <td>:</td>
                    <td> {{ account_data.payments_received }} </td>
                </tr>
                <tr id="requests_sent">
                    <td><b>Requests Sent</b></td>
                    <td>:</td>
                    <td> {{ account_data.requests_sent }} </td>
                </tr>
                <tr id="requests_received">
                    <td><b>Requests received</b></td>
                    <td>:</td>
                    <td> {{ account_data.requests_received }} </td>
                </tr>
            </table>
        </div>
        <div class="column">
            <h3>See more</h3>
            <ul>
                <li><a>View my payments</a></li>
                <li><a>View my requests</a></li>
            </ul>
        </div>
    </div>
{% endblock %}